@media (max-width: 690px) {
    .main {
        &__res {
            max-width: 380px;
        }
    }
}

@media (max-width: 596px) {
    .main {
        &__res {
            max-width: 280px;
        }
    }
}

@media (max-width: 486px) {
    .main {
        &__res {
            max-width: 230px;
        }

    }
}

@media (max-width: 438px) {
    .main {
        &__res {
            max-width: 240px;
        }
        &__buttons {
            flex-direction: column;
        }
    }
}

@media (max-width: 415px) {
    .main {
        &__res {
            max-width: 210px;
        }
        &__buttons {
            flex-direction: column;
        }
    }
}

@media (max-width: 384px) {
    .main {
        &__res {
            max-width: 180px;
        }
    }
}

@media (max-width: 344px) {
    .main {
        margin: 0 20px 0 20px;
        &__res {
            max-width: 140px;
        }
    }
}

@media (max-width: 309px) {
    .main {
        &__res {
            max-width: 110px;
        }
    }
}